body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2020/05/30/09/53/todo-lists-5238324_1280.jpg");
  background-size: cover;
}

.app-container {
  text-align: center;
}

.todo-input-container {
  margin-bottom: 10px;
}

.todo-list {
  padding: 0;
}

.todo-list li {
  border: 2px solid darkolivegreen;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.todo-list li.even {
  background-color: skyblue;
}

.todo-list li.odd {
  background-color: magenta;
}

.todo-list li:hover {
  background-color: red;
  color: #fff;
}

#add-button {
  width: 30vh;
  height: 5vh;
  border-color: red;
  font-size: 3vh;
}

#add-button:hover {
  border-radius: 8px;
  background-color: red;
  color: white;
}

#input-text {
  height: 7vh;
  width: 40vh;
  font-size: 5vh;
  border-radius: 2px;
}